.experience-info{
    width: 800px;
    margin:0 auto;
    background-color: chocolate;
    margin-top: 20px;
    border-radius: 10px;
    border:1px solid black;
}
.experience-info-item div{
    padding: 20px;
}
.experience-info-item h1{
    border-bottom: 1px solid black;
    padding:  20px;
}
.experience-info-item span:nth-child(1){
    font-weight: bold;
}